/node_modules

/.vscode/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.vscode-test/**
/test
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.clvls

formulas.ods
finding_in_settings.txt
TODO
code-levels-*.vsix
code-levels-*.zip

**/webviewTest
**/clv_data/