.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.clvls

**/formulas.ods
**/finding_in_settings.txt
**/TODO
**/code-levels-*.vsix
**/code-levels-*.zip

**/out/_guide.txt
**/out/_main.js
**/out/-converts.js
**/out/-texts.js
**/out/commands.js
**/out/config.js
**/out/data.js
**/out/files.js
**/out/levels.js
**/out/lvlogic.js
**/out/nicelang.js
**/out/nicelevel.js
**/out/number.js
**/out/language.js
**/out/status.js
**/out/views.js

**/webviewTest
**/clv_data/